<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>

    <div class="nav p-3 pl-5 mr-2">
      <a href="/" class="p-2 text-secondary">Home</a>
      <a href="/celebrities" class="p-2 mr-2 bg-warning  text-secondary">Celebrites</a>
      <a href="/movies" class="p-2 mr-2 bg-warning  text-secondary">Movies</a>
      <a href="/celebrities-add" class="p-2 mr-2 bg-warning  text-secondary">Add Celebrity</a>
      <a href="/movie-add" class="p-2 mr-2 bg-warning  text-secondary">Add Movie</a>
    </div>

    {{{body}}}
  </div>

  <script src='/javascripts/script.js'></script>
</body>

</html>